footer
    background $cinzaBg
    .colunas
        display flex
        padding 30px 0
        +mobile()
            display block
        .col
            flex 1
            margin-right 40px
            +below($tablet)
                display none
                &:nth-child(3)
                    display block
                    span.titulo
                        display none
            span.titulo
                display block
                montserrat 16
                color #fff
                font-style italic
                border-bottom 1px solid #fff
                margin-bottom 8px
                padding-bottom 5px
                text-transform uppercase
                + a.pai
                    margin-top 3px
            a
                display block
                opensans 14
                margin-top 3px
                color #fff
                &:hover
                    color lighten($azul, 30)
                &.pai
                    font-weight bold
                    margin-top 20px
            p
                opensans 14
                color #fff
                margin 0
                .whatsapp
                    display inline-block
                    padding-right 18px
                    background $img('ico-rodape-whatsapp.png') no-repeat right 45%
                .break
                    display block
                &.endereco
                    margin 25px 0
            .email
                padding-left 26px
                background $img('ico-rodape-email.png') no-repeat left center
        .newsletter
            width 445px
            background #fff
            padding 20px
            +mobile()
                width 100%
                margin-top 25px
            p
                montserrat 16 semi
                text-transform uppercase
                font-style italic
                color $cinzaBg
                margin 0 0 10px
                +mobile()
                    font-size 14px
            form
                width 100%
                position relative
                margin-bottom 20px
                input
                    width 100%
                    height 30px
                    background $cinzaBg
                    outline 0
                    border 0
                    color #fff
                    opensans 16
                    font-style italic
                    padding 0 10px
                    padding-right 40px
                    +placeholder()
                        color rgba(#fff, .75)
                button
                    position absolute
                    width 30px
                    height 30px
                    background $img('seta-direita-bco.png') no-repeat center
                    top 0
                    right 0
                    cursor pointer
                    z-index 2
                    outline 0
                    border 0
            .social-wrapper
                display flex
                align-items center
                img
                    display block
                    margin-right 35px
                    +mobile()
                        display none
                .social
                    p
                        opensans 16
                        color $cinzaBg
                        font-style italic
                        margin 0 0 10px
                        display block
                        +mobile()
                            font-size 14px
                    a
                        width 32px
                        height 32px
                        display inline-block
                        text-indent -9999px
                        transition transform .3s
                        &:hover
                            transform translateY(-3px)
                        + a
                            margin-left 5px
                        &.instagram
                            background $img('ico-rodape-instagram.png') no-repeat center
                        &.facebook
                            background $img('ico-rodape-facebook.png') no-repeat center
                        &.linkedin
                            background $img('ico-rodape-linkedin.png') no-repeat center
                        &.twitter
                            background $img('ico-rodape-twitter.png') no-repeat center
                        &.youtube
                            background $img('ico-rodape-youtube.png') no-repeat center
    .copyright
        background #404040
        padding 8px 0
        p
            margin 0
            opensans 10
            color #fff
            text-align center
            a:hover
                color lighten($azul, 30)
            +mobile()
                span
                    font-size 0
                    display block
