header
    height 175px
    position relative
    z-index 150
    +tablet()
        height 155px
    .center
        position static
        height 100%
        clearfix()
    .logo
        display block
        width 140px
        height 115px
        float left
        background $img('marca-americauv.png') no-repeat center
        text-indent -9999px
        margin-top 15px
        +mobile()
            background-size auto 100px
            background-position left center
    .topo
        height 20px
        float right
        font-size 0
        margin-top 10px
        +mobile()
            width 100%
            text-align right
        .busca-handle
            display inline-block
            vertical-align top
            opensans 12
            color $cinzaBg
            height 100%
            line-height 20px
            padding-right 24px
            background $img('ico-busca.png') no-repeat right top
            &:hover
            &.active
                color $azul
                background-position right bottom
        .social
            display inline-block
            vertical-align top
            margin 0 30px
            +mobile()
                margin 0 20px
            a
                display inline-block
                width 16px
                height 20px
                text-indent -9999px
                + a
                    margin-left 4px
                &.whatsapp
                    background $img('ico-top-whatsapp.png') no-repeat center
                &.instagram
                    background $img('ico-top-instagram.png') no-repeat center
                &.facebook
                    background $img('ico-top-facebook.png') no-repeat center
                &.youtube
                    background $img('ico-top-youtube.png') no-repeat center
                &.linkedin
                    background $img('ico-top-linkedin.png') no-repeat center
                &.twitter
                    background $img('ico-top-twitter.png') no-repeat center
        .lang
            display inline-block
            vertical-align top
            a
                display inline-block
                width 16px
                height 20px
                text-indent -9999px
                + a
                    margin-left 4px
                &.pt
                    background $img('idioma-pt.png') no-repeat center
                &.en
                    background $img('idioma-en.png') no-repeat center
                &.es
                    background $img('idioma-es.png') no-repeat center
    #nav-desktop
        width calc('100% - 195px')
        float right
        display flex
        margin-top 50px
        justify-content space-between
        +below($tablet)
            display none
        > a
            montserrat 15 semi
            color darken($cinzaBg, 10)
            text-transform uppercase
            &:hover
            &.active
                color $vermelho
        .dropdown-handle
            height 35px
            > a
                montserrat 15 semi
                color darken($cinzaBg, 10)
                text-transform uppercase
                position relative
                &.active
                    color $vermelho
                &:after
                    content ''
                    position absolute
                    width 0
                    height 0
                    border-style solid
                    border-width 0 11px 12px 11px
                    border-color transparent transparent #fff transparent
                    left 50%
                    transform translateX(-50%)
                    bottom -19px
                    z-index 2
                    opacity 0
                    transition opacity .3s
            &:hover > a
                color $vermelho
            &:hover
                .dropdown
                    opacity 1
                    visibility visible
                > a:after
                    opacity 1
        .dropdown
            visibility hidden
            opacity 0
            width 100%
            height 150px
            background #fff
            box-shadow 5px 0 40px rgba(#000, .5)
            position absolute
            left 0
            top 115px
            transition all .3s
            padding 20px 0
            .center
                display flex
            a
                width 25%
                border-left 1px solid $azul
                padding 20px 0
                text-align center
                montserrat 16 semi
                color $cinza
                transition background .3s, color .3s
                &:hover
                &.active
                    color $azul
                    background $azulBg
                img
                    display block
                    margin 8px auto 0
                &:last-child
                    border-right 1px solid $azul
    #mobile-toggle
        display block
        background-color transparent
        border 0
        position relative
        height 115px
        margin-top 15px
        float right
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left auto
        +tablet()
            position absolute
            right 5%
            margin-top 25px
        +above($tablet)
            display none
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $azul
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

#nav-mobile
    display none
    +above($tablet)
        display none !important
    background $azul
    padding 25px 0
    a
        display block
        text-align right
        montserrat 15 semi
        text-transform uppercase
        color #fff
        + a
            margin-top 6px
        &.sub
            padding-right 15px
            font-size 14px
            color #fff
            text-transform none
            position relative
            &:after
                content ''
                position absolute
                right 0
                top 50%
                transform translateY(-50%)
                width 8px
                height 8px
                border-right 1px solid rgba(#000, .36)
                border-bottom 1px solid rgba(#000, .36)
            + a:not(.sub)
                margin-top 20px
        &.active
            font-weight bold
            color rgba(#000, .5)

.modal-busca
    width 100%
    background $azul
    position absolute
    left 0
    top 55px
    padding 35px 0
    box-shadow 0 3px 20px rgba(#000, .3)
    z-index 155
    display none
    +tablet()
        top 45px
    +mobile()
        padding 5% 0
        top 45px
    form
        width 100%
        max-width 900px
        margin 0 auto
        position relative
        +below($tablet)
            max-width 90%
        input
            width 100%
            background #fff
            height 60px
            padding-left 30px
            padding-right 70px
            border 0
            outline 0
            opensans 16
            font-style italic
            color #444
            +mobile()
                font-size 15px
                height 45px
                padding-left 20px
        button
            position absolute
            cursor pointer
            width 65px
            height 100%
            background $img('ico-busca-gde.png') no-repeat center
            top 0
            right 0
            outline 0
            border 0
            +below($tablet)
                width 58px
