.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.main
    position relative
    width 100%
    overflow hidden
    padding 35px 0 80px
    +tablet()
        padding 30px 0 55px
    +mobile()
        padding 25px 0 35px
    &:before
        content ''
        position absolute
        top 0
        right 1190px
        width 4000px
        height 2000px
        transform skew(-50deg)
        background #F0F4F4
        z-index -1
    h1
        montserrat 28 bold
        color $azul
        margin 0 0 1em
        text-transform uppercase
        +tablet()
            font-size 24px
        +mobile()
            font-size 22px

.texto
    opensans 16
    +mobile()
        font-size 15px
    color #444
    *:first-child
        margin-top 0
    *:last-child
        margin-bottom 0
    h3
        color $vermelho
        montserrat 22 bold
        line-height 1.3
        +tablet()
            font-size 20px
        +mobile()
            font-size 17px
    h4
        color $azul
        font-size 18px
        font-weight bold
        font-style italic
        line-height 1.5
        +mobile()
            font-size 16px
    ul
        list-style-type none
        padding 0
        li
            position relative
            font-family inherit
            font-size inherit
            line-height 1.3
            padding-left 1em
            &:before
                content '\00b7'
                position absolute
                left 0
            + li
                margin-top .5em

.clear-video
    width 100%
    float left
    clear both

.video
    width 100%
    max-width 760px
    margin 60px auto 0
    +tablet()
        margin-top 45px
    +mobile()
        margin-top 30px
    .video-wrapper
        position relative
        padding-bottom 56.25%
        height 0
        iframe
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            border 0

.form-box
    background #BDCDCF
    padding 20px
    h3
        montserrat 16 semi
        color $azul
        text-transform uppercase
        margin 0 0 .7em
    input[type=text]
    input[type=email]
    textarea
    select
        display block
        width 100%
        background #DBE4E5
        color #444
        opensans 15
        font-style italic
        padding 0 10px
        margin-bottom 5px
        border 0
        outline 0
        height 32px
    select
        padding 0 6px
    textarea
        display block
        height 125px
        resize none
        padding 10px
    input[type=submit]
        background $azul
        cursor pointer
        opensans 16 bold
        font-style italic
        color #fff
        height 32px
        text-transform uppercase
        display block
        width 100%
        outline 0
        border 0
        transition background .3s
        &:hover
            background $vermelho
    .input-arquivo
            width 100%
            display block
            height 48px
            background #4E4E4E
            text-align center
            line-height 48px
            opensans 16
            color #fff
            font-style italic
            margin-bottom 5px
            cursor pointer
            position relative
            +mobile()
                font-size 15px
            span
                display block
                width calc('100% - 20px')
                white-space nowrap
                overflow hidden
                text-overflow ellipsis
                margin 0 auto
                &.ativo
                    font-weight bold
            input
                width 100%
                height 100%
                position absolute
                top 0
                left 0
                z-index -1
    .flash
        border 2px solid $azul
        margin-top 10px
        padding 12px
        montserrat 13
        text-transform uppercase
        text-align center
        background rgba(#fff, .5)
        line-height 1.3

.busca .resultados
    a
        display flex
        border-top 1px solid #53A9B5
        padding 15px 0
        h3
            margin 4px 0 0
            montserrat 16 bold
            color #53A9B5
            width 270px
            padding-right 25px
            flex-shrink 0
            text-transform uppercase
        p
            margin 0
            opensans 16
            color #444
            transition color .3s
            span
                display block
                text-transform uppercase
        &:hover
            p
                color $azul
        &:last-child
            border-bottom 1px solid #53A9B5
        +tablet()
            h3
                width 200px
                padding-right 20px
        +mobile()
            display block
            h3
                width 100%
                font-size 15px
                margin 0 0 8px
            p
                font-size 15px
