desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul     = #2A528D
$azulBg   = #DBE4E5
$vermelho = #C4353C
$cinzaBg  = #4E4E4E

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Open+Sans:400,700')

montserrat($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == semi
        font-weight 500
    if $weight == bold
        font-weight 700

opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
