.cd-logistico
    .center
        clearfix()
    .left
    .right
        width 45.8%
        +mobile()
            width 100%
        img
            display block
            max-width 100%
            margin 2em 0
            +mobile()
                margin 1.5em 0
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    .left
        float left
    .right
        float right
        margin-top -35px
        +tablet()
            margin-top -30px
        +mobile()
            margin-top 30px
