.contato
    .center
        clearfix()
    .left
        width 45.8%
        float left
        +mobile()
            width 100%
            margin-bottom 30px
        .form-box
            margin-top 1.5em
    .right
        width 49%
        float right
        .telefones
            color #444
            montserrat 22 semi
            margin 0
            .whatsapp
                display block
                &:hover
                    color $azul
                span
                    width 16px
                    height 16px
                    display inline-block
                    background $img('ico-top-whatsapp.png') no-repeat center
                    margin-left 5px
        .endereco
            opensans 16
            margin 1em 0
            color #444
        img
            display block
            max-width 100%
        +mobile()
            width 100%
            .telefones
                font-size 20px
            .endereco
                font-size 15px
    .mapa
        position relative
        z-index 2
        height 550px
        width 100%
        margin-top 70px
        +tablet()
            height 450px
            margin-top 50px
        +mobile()
            height 250px
            margin-top 25px
        iframe
            display block
            width 100%
            height 100%
