.galeria
    .galeria-thumbs
        display flex
        flex-wrap wrap
        margin-bottom -50px
        +mobile()
            margin-bottom -20px
        a
            display block
            width 47.5%
            padding 10px
            transition background .3s
            margin-bottom 50px
            +mobile()
                width 100%
                margin-bottom 20px
            +below($tablet)
                background $azul
                h3
                p
                    color #fff !important
            &:nth-child(2n)
                margin-left auto
            &:hover
                background $azul
                h3, p
                    color #fff
            img
                max-width 100%
                display block
                margin-bottom 14px
            > div
                padding 0 10px 10px
                +mobile()
                    padding 0 3px 3px
            h3
                montserrat 22 semi
                color $azul
                margin 0
                transition color .3s
            p
                opensans 16
                font-style italic
                margin .5em 0 0
                transition color .3s
                color #444
            +tablet()
                h3
                    font-size 20px
                p
                    font-size 15px
            +mobile()
                h3
                    font-size 17px
                p
                    font-size 15px
    .galeria-show
        clearfix()
        h2
            float left
            width 100%
            montserrat 28 semi
            color $vermelho
            margin 0 0 .8em
            +tablet()
                font-size 24px
            +mobile()
                font-size 20px
        .left
            float left
            width 50%
            img
                max-width 100%
                display block
                + img
                    margin-top 20px
            +mobile()
                width 100%
                img + img
                    margin-top 10px
        .right
            width 45.8%
            float right
            +mobile()
                width 100%
                margin-bottom 25px
        .voltar
            width 100%
            max-width 600px
            margin 50px auto 0
            border-top 2px solid $vermelho
            text-align center
            padding-top 10px
            +mobile()
                margin-top 30px
            a
                display inline-block
                montserrat 16 semi
                color $vermelho
                &:hover
                    color $azul
                +mobile()
                    font-size 15px

.pagination
    width 100%
    max-width 600px
    margin 50px auto 0
    border-top 2px solid $vermelho
    text-align center
    list-style-type none
    padding 10px 0 0
    font-size 0
    +mobile()
        margin-top 25px
    li
        display inline-block
        &.disabled
            display none
    a
    span
        display inline-block
        padding 3px 8px
        border 1px solid $azul
        margin 0 3px 5px
        montserrat 16 bold
        min-width 27px
    .active *
        background $azul
        color #fff
