.home
    .banners
        width 100%
        height 540px
        position relative
        +below($tablet)
            height 0
            padding-bottom 42%
        +mobile()
            margin-bottom 80px
        .banner
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background-size cover
            background-position center
            .center
                height 100%
                padding-top 80px
                +tablet()
                    padding-top 20px
                +mobile()
                    padding-top 15px
                span
                    width 100%
                    text-align center
                    display block
                    opensans 42
                    color #fff
                    font-style italic
                    &.preto
                        color #444
                    +tablet()
                        font-size 24px
                    +mobile()
                        font-size 18px
                a
                    display inline-block
                    position absolute
                    left 50%
                    bottom 40px
                    border 2px solid #fff
                    color #fff
                    padding 15px 25px
                    padding-right 45px
                    transform translateX(-50%)
                    opensans 16 bold
                    transition all .3s
                    +below($tablet)
                        font-size 14px
                        bottom 15px
                        padding 10px 20px
                        padding-right 35px
                        &:after
                            right 15px !important
                    +mobile()
                        bottom -50px
                        white-space nowrap
                        color #444 !important
                        border-color #444 !important
                        &:after
                            background-image $img('seta-saibamaishome-blk.png') !important
                    &:hover
                        transform translateX(-50%) translateY(4px)
                        box-shadow 0 1px 3px rgba(#000, .3)
                    &:after
                        content ''
                        width 10px
                        height 100%
                        position absolute
                        right 25px
                        top 0
                        background $img('seta-saibamaishome-bco.png') no-repeat center
                    &.preto
                        color #444
                        border-color #444
                        &:after
                            background-image $img('seta-saibamaishome-blk.png')
    .chamadas
        display flex
        flex-wrap wrap
        justify-content space-between
        margin 35px 0 75px
        +tablet()
            margin 30px 0 45px
        +mobile()
            margin 25px 0 20px
        a
            display block
            width 23.75%
            position relative
            margin-bottom 20px
            +mobile()
                width calc('50% - 5px')
                margin-bottom 10px
            img
                width 100%
                display block
            span
                display block
                position absolute
                width 100%
                left 0
                bottom 0
                background rgba($vermelho, .8)
                montserrat 16 bold
                color #fff
                text-align center
                padding 20px 0
                transition background .3s
                +tablet()
                    padding 10px
                    font-size 14px
                +mobile()
                    font-size 12px
                    padding 8px
            &:hover span
                background $azul
    .home-texto
        display flex
        justify-content center
        .titulo
            width 290px
            margin-right 40px
            montserrat 42 semi
            color $azul
            text-align right
            text-transform uppercase
            flex-shrink 0
            +tablet()
                width 240px
                font-size 32px
        .texto
            width 560px
            color $azul
            .imagens
                display flex
                align-items flex-start
                border-left 1px solid $azul
                img
                    display block
                    width 25%
                    border-top 1px solid $azul
                    border-bottom 1px solid $azul
                    border-right 1px solid $azul
        +mobile()
            display block
            .titulo
                width 100%
                text-align left
                font-size 24px
            .texto
                width 100%
                margin-top 20px
    .novidades
        background $azulBg
        margin 60px 0
        padding 60px 0
        h3
            montserrat 70 semi
            text-align center
            margin 0 0 25px
            color #BDCDCF
            text-transform uppercase
        .novidades-thumbs
            display flex
            justify-content space-between
            a
                display block
                width 30.8%
                img
                    width 100%
                    display block
                    border 1px solid $azul
                    transition border .3s
                h4
                    margin .6em 0 0
                    montserrat 18 semi
                    color $azul
                    transition color .3s
                    text-align center
                &:hover
                    img
                        border-color $vermelho
                    h4
                        color $vermelho
        +tablet()
            margin 50px 0
            padding 40px 0
            h3
                font-size 56px
            .novidades-thumbs a h4
                font-size 16px
        +mobile()
            margin 30px 0
            padding 30px 0
            h3
                font-size 30px
                margin-bottom 15px
            .novidades-thumbs
                display block
                a
                    width 100%
                    + a
                        margin-top 25px
                    h4
                        font-size 15px
    .depoimentos
        background $azul
        margin-bottom 60px
        overflow hidden
        +tablet()
            margin-bottom 55px
        +mobile()
            margin-bottom 35px
        .center
            max-width 1000px
            &:before
                content ''
                position absolute
                width 1px
                height 1000px
                background #fff
                transform skew(-15deg)
                left -52px
                top 0
            &:after
                content ''
                position absolute
                width 1px
                height 1000px
                background #fff
                transform skew(-15deg)
                right 140px
                top 0
            +below($tablet)
                border-left 1px solid #fff
                border-right 1px solid #fff
                &:before
                &:after
                    display none
        .depoimento
            position relative
            clearfix()
            .imagem
                float left
                overflow hidden
                transform skew(-15deg)
                width 250px
                height 300px
                margin-left 50px
                img
                    display block
                    transform skew(15deg) translateX(-40px)
                +below($tablet)
                    transform none
                    margin-left 10px
                    text-align center
                    img
                        transform none
                        margin-left 50%
                        transform translateX(-50%)
                +mobile()
                    width 83px
                    height 100px
                    margin-left 5px
                    img
                        height 100px
                        width auto
            .depoimento-texto
                width 420px
                float left
                padding 60px 0
                margin-left 80px
                p
                    opensans 15
                    font-style italic
                    color #fff
                    margin 0
                    &.info
                        margin-top 15px
                        font-size 12px
                        strong
                            display block
                +tablet()
                    margin-left 40px
                    width calc('100% - 350px')
                    padding 50px 0
                +mobile()
                    margin-left 20px
                    width calc('100% - 140px')
                    padding 20px 0
                    p
                        font-size 14px
                        &.info
                            font-size 11px
                            margin-top 12px
        .next
            position absolute
            width 25px
            height 25px
            cursor pointer
            background $img('seta-direita-bco.png') no-repeat center
            right 0
            top 135px
            z-index 105
            +below($tablet)
                top 50%
                margin-top -12px
                width 35px
                height 35px
