.institucional
    .center
        clearfix()
        .left
        .right
            width 45.8%
        .left
            float left
        .right
            float right
            margin-top -35px
            > img
                display block
                max-width 100%
                margin-bottom 32px
            .box
                background $azul
                padding 45px
                .row
                    display flex
                    color #fff
                    + .row
                        margin-top 45px
                    div:first-child
                        width 80px
                        margin-right 30px
                        text-align center
                        flex-shrink 0
                        h3
                            montserrat 16 semi
                            text-transform uppercase
                            font-style italic
                            margin 0 0 .5em
                        img
                            display block
                            max-width 100%
                    .texto
                        flex-grow 1
                        color #fff
        +mobile()
            .left
            .right
                width 100%
            .right
                margin-top 25px
                > img
                    margin-bottom 25px
                .box
                    padding 30px
                    .row
                        display block
                        .texto
                            margin-top 15px
        +tablet()
            .right
                margin-top -30px
                .box
                    padding 30px
                    .row
                        display block
                        .texto
                            margin-top 15px
