.parceiros
    .center
        clearfix()
    .left
        width 45.8%
        float left
        .form-box
            margin-top 40px
        a
            font-weight bold
            &:hover
                color $vermelho
        +mobile()
            width 100%
            .form-box
                margin-top 30px
    .right
        width 49%
        float right
        margin-top -35px
        img
            display block
            max-width 100%
        +tablet()
            margin-top -30px
        +mobile()
            width 100%
            margin-top 25px
