.produtos-index
    .center
        clearfix()
    .left
        width 45.8%
        float left
        +tablet()
            width 40%
        +mobile()
            width 100%
            margin-bottom 30px
    .right
        width 49%
        float right
        +tablet()
            width 55%
        +mobile()
            width 100%
        .produtos-thumbs
            display flex
            flex-wrap wrap
            justify-content space-between
            margin-bottom -85px
            +mobile()
                margin-bottom -45px
            a
                display flex
                flex-direction column
                border-top 1px solid $vermelho
                width calc('50% - 10px')
                text-align center
                margin-bottom 85px
                +mobile()
                    margin-bottom 45px
                img
                    max-width 100%
                    height auto
                    display block
                    margin-bottom 10px
                h3
                    opensans 16 bold
                    font-style italic
                    color $vermelho
                    margin 0
                    +mobile()
                        font-size 15px
                p
                    opensans 14
                    color #444
                    margin .8em 0 1.2em
                    +mobile()
                        font-size 14px
                span
                    margin-top auto
                    display inline-block
                    align-self center
                    background $azul
                    montserrat 12 bold
                    text-transform uppercase
                    padding 10px 12px
                    padding-right 26px
                    transition background .3s
                    color #fff
                    position relative
                    +mobile()
                        font-size 11px
                    &:after
                        content ''
                        position absolute
                        width 10px
                        height 100%
                        top 0
                        right 12px
                        background $img('seta-direita-bco.png') no-repeat center
                        +mobile()
                            background-size 8px auto
                &:hover span
                    background $vermelho

.produtos-show
    .capa
        text-align center
        color #fff
        padding 25px 0 0
        position relative
        overflow hidden
        background-repeat no-repeat
        background-position center
        height 620px
        text-shadow 0 1px 1px rgba(#000, .35)
        &.capa-mobile
            display none
        &.preto
            color #353535
            text-shadow 0 1px 1px rgba(#fff, .35)
        h2
            montserrat 12 bold
            margin 0
            text-transform uppercase
        h1
            montserrat 32 bold
            margin 12px 0 0
        +tablet()
            height 400px
            background-size auto 100%
            h1
                font-size 28px
        +mobile()
            height 230px
            background-size auto 100%
            .center
                display none
            &.capa-mobile
                height auto
                margin-bottom 15px
                display block
                padding-top 10px
                .center
                    display block
            h1
                font-size 20px
            h2
                font-size 11px
    .texto
        max-width 650px
        margin 0 auto 60px
        .botoes
            margin-top 60px
            font-size 0
            text-align center
            a
                display inline-block
                background $azul
                montserrat 14 semi
                color #fff
                padding 15px 15px 15px 80px
                width 270px
                text-align left
                text-transform uppercase
                transition background .3s
                + a
                    margin-left 12px
                &.orcamento
                    background $img('icone-orcamento.png') no-repeat 20px center $azul
                &.catalogo
                    background $img('icone-downloadcatalogo.png') no-repeat 20px center $azul
                &:hover
                    background-color $vermelho
        +mobile()
            margin-bottom 30px
            .botoes
                margin-top 20px
                a
                    display block
                    width 100%
                    max-width 270px
                    padding-right 0
                    + a
                        margin 10px 0 0
    .informacoes
        border-top 1px solid $vermelho
        padding-top 60px
        margin-bottom 60px
        clearfix()
        .imagens
            width 41.667%
            float left
            img
                max-width 100%
                display block
                + img
                    margin-top 20px
        .especificacoes
            width 45.8%
            float right
            h4
                montserrat 14 bold
                text-transform uppercase
                color #444
                margin 0
            h3
                montserrat 28 bold
                text-transform uppercase
                color $azul
                margin 10px 0 25px
            .tabela
                width 100%
                border-bottom 1px solid $vermelho
                .row
                    clearfix()
                    border-top 1px solid $vermelho
                    padding 6px 0
                    display flex
                    span
                        &:first-child
                            color #555
                            opensans 13
                            margin-top 2px
                            width 175px
                            flex-shrink 0
                            padding-right 20px
                        &:last-child
                            color #444
                            opensans 16
        .clear-video:first-child .video
            margin-top 0
        +tablet()
            .especificacoes
                width 50%
                h3
                    font-size 24px
                .tabela .row span:last-child
                    font-size 15px
        +mobile()
            padding-top 30px
            margin-bottom 30px
            .imagens
                width 100%
                margin-bottom 30px
                img
                    margin 0 auto
                    + img
                        margin-top 10px
            .especificacoes
                width 100%
                h3
                    font-size 18px
                    margin 6px 0 15px
                h4
                    font-size 13px
                .tabela
                    .row span
                        &:first-child
                            font-size 12px
                            width 140px
                            padding-right 15px
                        &:last-child
                            font-size 14px
    .aplicacoes
        border-top 1px solid $vermelho
        padding-top 60px
        margin-bottom 60px
        h3
            text-align center
            montserrat 22 bold
            color $vermelho
            margin 0 0 30px
            text-transform uppercase
        div
            display flex
            flex-wrap wrap
            justify-content space-between
            align-items flex-start
            margin-bottom -20px
            img
                display block
                width calc('33.333% - 13.333px')
                height auto
                margin-bottom 20px
                border 1px solid $azul
        +mobile()
            padding-top 30px
            margin-bottom 30px
            h3
                font-size 16px
                margin-bottom 14px
            div
                margin-bottom -10px
                img
                    width calc('50% - 5px')
                    margin-bottom 10px
    .relacionados
        background $azulBg
        padding 45px 0
        margin-top 150px
        h3
            montserrat 22 bold
            color $azul
            margin 0 0 35px
            text-align center
            text-transform uppercase
        .relacionados-thumbs
            display flex
            a
                display block
                width calc('25% - 15px')
                border-top 1px solid $vermelho
                text-align center
                img
                    display block
                    width 100%
                    margin 0 auto 10px
                p
                    opensans 16
                    color $azul
                    margin 0
                    font-style italic
                    transition color .3s
                + a
                    margin-left 20px
                &:hover p
                    color $vermelho
        +tablet()
            margin-top 90px
            .relacionados-thumbs a p
                font-size 15px
        +mobile()
            margin-top 40px
            padding 30px 0
            h3
                font-size 16px
                margin-bottom 14px
            .relacionados-thumbs
                flex-wrap wrap
                margin-bottom -20px
                justify-content space-between
                a
                    width calc('50% - 10px')
                    margin-bottom 20px
                    + a
                        margin-left 0
                    p
                        font-size 14px
    .btn-topo
        display block
        width 100%
        text-align center
        montserrat 16 bold
        color $azul
        padding 40px 0
        margin-bottom -80px
        text-transform uppercase
        span
            font-size 1.2em
        &:hover
            color $vermelho
        +tablet()
            margin-bottom -55px
        +mobile()
            margin-bottom -35px
            padding 30px 0
            font-size 15px

.box-orcamento
    width 840px
    padding 45px 140px
    background #BDCDCF
    .form-box
        background none
        padding 0
        margin 0 auto
        text-align center
        .flash
            display none
        button
            display inline-block
            background $azul
            montserrat 14 semi
            color #fff
            padding 15px 15px 15px 80px
            width 270px
            text-align left
            text-transform uppercase
            transition background .3s
            cursor pointer
            background $img('icone-orcamento.png') no-repeat 20px center $azul
            border 0
            outline 0
            margin-top 25px
            &:hover
                background-color $vermelho
            +mobile()
                width 100%
    h3
        montserrat 14 semi
        color #53A9B5
        margin 0
        text-transform uppercase
        text-align center
    h2
        montserrat 20 semi
        color $azul
        margin 30px 0 15px
        text-align center
        text-transform uppercase
    +tablet()
        width 500px
        padding 60px
    +mobile()
        width auto
        padding 25px
        h3
            font-size 13px
        h2
            font-size 16px
            margin 20px 0 10px
        form
            max-width 100%
            width 400px
            button
                margin-top 20px !important

.fancybox-skin
    border-radius 0
