.suporte
    .center
        clearfix()
    .left
        width 45.8%
        float left
        +mobile()
            width 100%
    .right
        width 49%
        float right
        +mobile()
            width 100%
            margin-top 25px
        img
            display block
            max-width 100%
        .form-box
            margin 40px 0 70px
            +mobile()
                margin 25px 0 30px
        .faq
            h2
                montserrat 28 bold
                margin 0 0 12px
                color $azul
                +tablet()
                    font-size 24px
                +mobile()
                    font-size 20px
            a
                display block
                background #BDCDCF
                position relative
                padding 10px 35px 10px 20px
                montserrat 16 semi
                color $azul
                margin-bottom 10px
                +below($tablet)
                    font-size 15px
                span
                    width 35px
                    height 100%
                    position absolute
                    top 0
                    right 0
                    &:before
                        content ''
                        position absolute
                        width 12px
                        height 2px
                        background $vermelho
                        top 50%
                        left 50%
                        transform translateX(-50%) translateY(-50%)
                    &:after
                        content ''
                        position absolute
                        width 2px
                        height 12px
                        background $vermelho
                        top 50%
                        left 50%
                        transform translateX(-50%) translateY(-50%)
                        transition all .3s
                &.open span:after
                    transform translateX(-50%) translateY(-50%) rotate(90deg)
            div
                margin-bottom 30px
                padding 0 20px
                line-height 1.5
                +tablet()
                    font-size 15px

